.typing-container {
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.typing-text {
  font-size: 3rem;
  font-weight: bold;
  color: #1a365d;
  display: flex;
  align-items: center;
  gap: 20px; /* gap between logo and text */ 
}

.typing-logo {
  width: auto;
  height: auto;
  animation: bounce 1.5s infinite ease-in-out;
}


/* bounce animation for logo */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
